@import "modules/reset";
@import "modules/variables";
@import "modules/grid";
@import "modules/layout";
@import "modules/utilities";

.wrap {
  background: #f1f3f5;
  padding: 40px;
}

.wrap-header {
  background: white;
  padding: 20px;
}

.content {
  background: white;
  margin-top: 10px;
  padding: 20px;
}

.btn-sync {
  border: 1px solid #1687d9;
  background: #1687d9;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
}
